{% extends 'base.html.twig' %}

{% block title %}Hello SuccessController!{% endblock %}

{% block body %}
<div>
    <h1>Order successful</h1>

    <p>
        Thank you for your order.
    </p>
</div>
{% endblock %}
