{% extends 'base-checkout.html.twig' %}

{% block title %}Hello SecureCheckoutController!{% endblock %}

{% block body %}
    <h1>Secure Checkout</h1>

    <form method="post" action="{{ url('secure-checkout') }}" class="checkout" id="payment-form">
        <input type="hidden" name="action" value="submit_payment">
        <div id="card-element"></div>
        <button>Submit payment</button>
    </form>

    <div id="card-errors"></div>
{% endblock %}

{% block javascripts %}
    <script>
        const stripe = Stripe('{{ stripe_public_key }}');
        const elements = stripe.elements();
        const card = elements.create('card');
        const errorElement = document.getElementById('card-errors');
        const form = document.getElementById('payment-form');

        card.mount('#card-element');

        card.addEventListener('change', (event) => {
            if (event.error) {
                errorElement.textContent = event.error.message;
            } else {
                errorElement.textContent = '';
            }
        });

        form.addEventListener('submit', (event) => {
            event.preventDefault();

            stripe.confirmCardPayment('{{ clientSecret }}', {
                payment_method: {
                    card: card
                }
            }).then((result) => {
                if (result.error) {
                    errorElement.textContent = result.error.message;
                } else {
                    if (result.paymentIntent.status === 'succeeded') {
                        form.submit();
                    }
                }
            })
        })
    </script>
{% endblock %}
