{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello to PlayBook! ✅</h1>

    <div class="book-list">
        {% for book in books %}
            <div>
                <div>
                    <h2>{{ book.title }}</h2>
                    <p>{{ book.description }}, ${{ book.price }}</p>
                    <button onClick="addToBasket({{ book.id }});">Add to basket</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
