body {
    font-family: Helvetica, arial, sans-serif;
    font-size: 16px;
    margin: 0;
}

#basket {
    color: #fff;
    text-align: right;
}

#basket a {
    background-color: #fff;
    display: inline-block;
    margin-bottom: 6px;
    padding: 7px 12px 6px 12px;
}

#basket a:link, #basket a:visited {
    color: #000;
    text-decoration: none;
}

#basket a:hover, #basket a:active {
    background-color: #eee;
}

.book-list {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 24px;
}

.book-list > div {
    background-color: #eee;
    display: flex;
    padding: 24px;
}

.book-list > div h2 {
    margin-top: 0;
    margin-bottom: 12px;
}

.book-list > div p {
    margin: 12px 0;
}

.book-list > div > img {
    margin-right: 24px;
}

button {
    background-color: #095996;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    padding: 12px 18px;
}

button:hover {
    background-color: #0E87E3;
}

.card-errors {
    color: red;
    font-weight: bold;
}

form {
    margin: 24px 0;
}

form.checkout {
    display: flex;
}

form.checkout > div {
    border: #095996 1px solid;
    margin-right: 12px;
    padding: 12px;
    width: 60%;
}

form input[type="text"], form input[type="email"] {
    border: #095996 1px solid;
    font-size: 100%;
    padding: 11px;
    width: 300px;
    max-width: 50%;
}

form label {
    display: block;
    margin-bottom: 6px;
    margin-top: 6px;
}

header {
    background-color: #095996;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

header .site-name {
    font-size: 200%;
    margin: 12px 0;
}

header .site-name:link, header .site-name:visited {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 24px;
}

main h1 {
    margin-top: 0;
}

.example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

.example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;
}
