<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% block head_javascripts %}{% endblock %}
</head>
<body>
<header>
    <a href="{{ url('home') }}" class="site-name">PlayBook</a>
    <div id="basket" style="display: none">
        <a href="{{ url('basket') }}">View Basket</a>
        <div>0 books</div>
    </div>
</header>

<main>
    <div class="example-wrapper">
        {% block body %}{% endblock %}
    </div>
</main>

<footer>
    <div class="example-wrapper">
        <p>code available here: <a href="//gitlab.com/ariews/learn-stripe">https://gitlab.com/ariews/learn-stripe</a></p>
    </div>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
        integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% block javascripts %}
    {% include 'js-func.html.twig' %}
    <script>
        document.addEventListener('DOMContentLoaded', function(event) {
            updateBasket();
        });
    </script>
{% endblock %}
</body>
</html>
