{% extends 'base-checkout.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}

{% block body %}
    <h1>Redirecting to Stripe checkout</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const stripe = Stripe('{{ stripe_public_key }}');
        stripe.redirectToCheckout({
            sessionId: "{{ sessionId }}"
        });
    </script>
{% endblock %}
