{% extends 'base-checkout.html.twig' %}

{% block title %}Hello WalletCheckoutController!{% endblock %}

{% block body %}
    <h1>Wallet Checkout</h1>

    <form method="post" action="{{ url('digital_wallet_checkout') }}"  id="payment-form">
        <input type="hidden" name="action" value="submit_payment">
        <div id="payment-request-button"></div>
    </form>

    <div id="card-errors"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            const stripe = Stripe('{{ stripe_public_key }}');
            const paymentRequest = stripe.paymentRequest({
                country: 'US',
                currency: 'usd',
                requestPayerName: true,
                requestPayerEmail: true,
                total: {
                    label: '{{ description }}',
                    amount: {{ totalPrice }}
                }
            });

            const elements = stripe.elements();
            const prButton = elements.create('paymentRequestButton', {
                paymentRequest: paymentRequest
            });

            paymentRequest.canMakePayment().then((result) => {
                if (result) {
                    prButton.mount('#payment-request-button');
                } else {
                    document.getElementById('payment-request-button').innerHTML = 'Your browser does not support digital wallet';
                }
            });

            paymentRequest.on('paymentmethod', async (ev) => {
                const {error, paymentIntent} = await stripe.confirmCardPayment('{{ clientSecret }}', {
                    payment_method: ev.paymentMethod.id
                }, {handleActions: false});

                if (error) {
                    ev.complete('fail');
                }

                ev.complete('success');
                if (paymentIntent.status === 'requires_action') {
                    await stripe.confirmCardPayment('{{ clientSecret }}')
                }

                document.getElementById('payment-form').submit();
            });
        });
    </script>
{% endblock %}
