{% extends 'base.html.twig' %}

{% block body %}
    <h1>Basket</h1>
    {% if not basket is empty %}
        <div class="book-list">
            {% for book in basket %}
                <div>
                    <div>
                        <h2>{{ book.title }}</h2>
                        <p>${{ book.price }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <p>Total price: ${{ totalPrice }}</p>

        <form method="post" action="{{ url('basket') }}">
            <button>Empty basket</button>
        </form>

        <h2>Stripe Checkout</h2>

        <form action="{{ url('checkout') }}" method="post">
            <button>Stripe Checkout</button>
        </form>

        <h2>API Checkout</h2>

        <form action="{{ url('local-checkout') }}" method="post">
            <input type="hidden" name="action" value="ready_to_pay">
            <button>Local Checkout</button>
        </form>

        <h2>Secure Customer Authentication (SCA) Checkout</h2>

        <form action="{{ url('secure-checkout') }}" method="post">
            <input type="hidden" name="action" value="ready_to_pay">
            <button>Secure Checkout</button>
        </form>

        <h2>Digital Wallet Checkout</h2>

        <form action="{{ url('digital_wallet_checkout') }}" method="post">
            <input type="hidden" name="action" value="ready_to_pay">
            <button>Checkout</button>
        </form>
    {% endif %}

    {% if basket is empty %}
        <p>Your basket is currently empty.</p>
    {% endif %}
{% endblock %}
